<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<nav class="navbar bg-primary navbar-dark rounded" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> 💾 DigiDocs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'document_list' %}"> 📃 Document Store</a>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'gallery' %}"> 📷 Photo Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'document_list' %}" class="btn btn-dark my-3">Go Back</a>
                 
                <div style="height: 90vh;">
                    <h3>{{document.doccategory.name}}</h3>
                    <h4>{{document.description}}</h4>
                    <a href="{% url 'delete_document' document.id %}" class="btn btn-outline-dark btn-sm m-1">Delete</a>
                 <a href="{% url 'download_document' document.id %}" class="btn btn-outline-dark btn-sm m-1" >Download</a>    
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>